<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pomidora.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <pomidora.Properties.Settings>
            <setting name="allowedTime" serializeAs="String">
                <value>15:00</value>
            </setting>
            <setting name="breakTime" serializeAs="String">
                <value>3:45</value>
            </setting>
            <setting name="postponeTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="numBeeps" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="beepInterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="maxPostpones" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="postponePenalty" serializeAs="String">
                <value>30</value>
            </setting>
        </pomidora.Properties.Settings>
    </userSettings>
</configuration>